




 @media screen and (min-width: 428px) and (max-width: 767px) {
    .container {
        max-width: 428px;
    }
    .section {
        max-width: 428px;
    }
        .advantages-list {
            list-style-type: none;
            flex-wrap: wrap;
            gap: 72px;
        }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
            padding-right: 16px;
            width: 768px;
    }
        .section {
            width: 768px;
            padding-left: 16px;
            padding-right: 16px;
            margin: 0 auto;
            padding-left: 16px;
                padding-right: 16px;
        }
    .hero{
        width: 100%;
        height: 436px;
        background-color: var(--primary-accent-color);
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-bg-tab-2x.jpg);
            }
        }
        .hero-title {
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--primary-white-color);
            max-width: 496px;
            margin: 0 auto;
            margin-bottom: 48px;
    
        }
        .open-menu{
            display: none;
        }
    .section-workers{
        max-width: 584px;
    }
    .customers-list{
        gap: 72px 24px;
    }
    .advantages-list-item {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
    }
    .customers-item{
        width: calc( (100% - 2 * 24px) / 3 )
    }
    .advantages-list{
        display: flex;
        gap: 72px 24px;
        margin: 0 auto;
    }
        .advantages-list-item:not(:last-child) {
            margin-bottom: 0;
        }
    .about-team{
      text-align: center;
      margin-left: 0;
    }
    .workers-list-item{
        width: calc((100% - 24px) / 2 );
        margin-bottom: 0;
        margin: 0 auto;
    }
        .workers-list-item:not(:last-child) {
         margin-bottom: 0;
        }

        
    .footer{
        padding: 96px 0;
    }
    .all-footer{
        flex-wrap: wrap;
        max-width: 584px;
        
    }
    .footer-sub{
        margin-left: 0;
       
    }
    .logo-footer{
        margin: 0;
        margin-right: 24px;
    }
        .footer-social {
            margin: 0;
            margin-left: 0;
            margin-top: 0;
        }
         .footer-logo-link {
                    display: inline-block;
                    margin-left: 0;
                }
        
                .footer-social-links-text {
                    display: block;
                    text-align: left;
                }
        
                .footer-social-links {
                    margin-left: 0;
                }
        
                .modal-footer-field {
                    flex-wrap: nowrap;
                }
        
                .modal-footer-input {
                    width: 264px;
                    height: 40px;
                }
        
                .footer-sub-text {
                    text-align: left;
                }
        
                .footer-button {
                    margin-left: 0;
                }
        
                .footer-text {
                    margin-left: 0;
                }
        .header-feedback-list{
            display: block;
            gap: 12px;
        }
        .header-about-list{
            display: flex;
        }
        .header-feedback-link{
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.02em;
        }
        .header-feedback-item:not(:last-child){
            margin-bottom: 12px;
        }
        .header-logo-link{
            margin-right: 120px;
        }
        .hero{
            padding: 112px 0;
        }
        .hero-title{
            margin-bottom: 36px;
            padding-bottom: 0;
            width: 496px;
        }
        .hero-button{
            margin: 0 auto;
        }
        .advantages-topics{
            text-align: left;
        }
        .workers{
            padding: 96px 0;
        }
        .workers-list{
            gap: 64px 24px;
            display: flex;
        }
        .advantages-topic{
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            font-weight: 500;
        }
        .advantages-item-text{
            font-weight: 500;
        }
        
}
@media screen and (min-width: 1158px){
    .container{
        max-width: 1158px;
        padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
            width: 1158px;
    }
        .section {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
        }
    .hero{
        max-width: 1440px;
        width: 100%;
        padding: 188px 0;
            background-color: var(--primary-accent-color);
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                 url(../images/hero-bg-2x.jpg);
    }
    }

        .hero-title {
            font-size: 56px;
            font-weight: 700;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: var(--primary-white-color);
            max-width: 496px;
            margin: 0 auto;
            margin-bottom: 48px;
            padding-bottom: 0;
            width: 496px;
        }
        .hero-button{
            margin: 0 auto;
        }
                .open-menu {
                    display: none;
                }
    .advantages-list-item{
        width: calc((100% - 72px) / 4);
    }
    .svg-about{
        display: flex;
    }
        .advantages-topic {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--primary-accent-color);
            margin-bottom: 8px;
        }
        .advantages-topics{
            text-align: left;
            font-size: 20px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: var(--primary-accent-color);
                margin-bottom: 8px;
        }
        .all-advantages-list{
            padding: 120px 0;
        }
                .advantages-list {
                    list-style-type: none;
                    display: flex;
                    gap: 24px;
}
.advantages-list{
 margin-bottom: 0;
}
.advantages-list-item:not(:last-child) {
    margin-bottom: 0;
}
.about-team {
    text-align: center;
    margin-left: 0;
}
.work-examples{
    display: block;
}
.section-workers {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.customers{
    padding: 120px 0;
}
.customers-item {
    width: calc((100% - 5 * 24px) / 6)
}
.customers-list{
    gap: 72px 24px;
}
.all-footer {
    display: flex;
    align-items: baseline;

}

.logo-footer {
    margin-right: 120px;
}

.footer-social {
    margin: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.footer-sub {
    margin: 0;
    margin-top: 0;
    margin-left: 80px;
}
.header-about-list {
    display: flex;
}
.header-logo-link{
    margin-right: 76px;
}
.header-feedback-list{
    display: flex;
}
.workers-list{
    display: flex;
}
.workers-list-item {
    width: calc((100% - 3 * 24px) / 4);
    margin-bottom: 0;
    margin: 0 auto;
}
.workers-list-item:not(:last-child) {
    margin-bottom: 0;
}
.workers{
    padding: 120px 0 120px;
}
.all-footer {
    flex-wrap: nowrap;

}
.footer-logo-link{
    display: inline-block;
    margin-left: 0;
}
.footer-social-links-text{
    display: block;
    margin-left: 0;
    text-align: left;
}
.footer-social-links{
    margin-left: 0;
}
.footer-sub {
    margin-left: 80px;
}
.modal-footer-field{
    flex-wrap: nowrap;
}
.modal-footer-input{
width: 264px;
    height: 40px;
}
.footer-sub-text{
    text-align: left;
}
.footer-button{
    margin-left: 0;
}
.footer-text{
    margin-left: 0;
}
.advantages-item-text{
    font-weight: 400;
}
}
@media screen and (min-width: 320px) and (max-width: 427px) {
    .section{
        width: 428px;
    }
    .hero{
        width: 428px;
    }
    .footer{
        width: 428px;
    }
    .flex{
        width: 428px;
    }
}