




 @media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 428px;
    }
        .advantages-list {
            list-style-type: none;
            flex-wrap: wrap;
            gap: 72px;
        }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
    }
    .advantages-list-item {
    width: calc((100% - 72px) / 2);
    gap: 72px 24px;
    }
    .customers-item{
        width: calc( (100% - 2 * 24px) / 3 )
    }
    .advantages-list{
        display: flex;
    }
    .workers-list-item{
        width: calc((100% - 24px) / 2 );
    }
    .all-footer{
        flex-wrap: wrap;
    }
    .footer-sub{
        margin-left: 0;
        margin-top: 72px;
    }
    .logo-footer{
        margin-right: 24px;
    }
        .footer-social {
            margin-left: 0;
        }
        .header-feedback-list{
            display: block;
            gap: 12px;
        }
        
}
@media screen and (min-width: 1158px){
    .container{
        max-width: 1158px;
    }
    .advantages-list-item{
        width: calc((100% - 72px) / 4);
    }
    .svg-about{
        display: flex;
    }
        .advantages-topic {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--primary-accent-color);
            margin-bottom: 8px;
        }
        .all-advantages-list{
            padding: 120px 0;
        }
                .advantages-list {
                    list-style-type: none;
                    display: flex;
                    gap: 24px;
}
.work-examples{
    display: flex;
}
.customers-item {
    width: calc((100% - 5 * 24px) / 6)
}
.all-footer {
    display: flex;
    align-items: baseline;

}

.logo-footer {
    margin-right: 120px;
}

.footer-social {
    margin-left: 0;
}
.footer-sub {
    margin-left: 80px;
}
}